/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 p{
  color: #333;
 }
 h3, a{
  color: #333;
 }
 .search-bashly{
  color: #333;
 }
 .search-bashly:hover{
  color: #AAA;
 }
 .search-input{
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: .8em;
  box-shadow: inset 0 1px 3px #ddd;
  position: absolute;
  left: 30px;
  top: -3px;
  width: 0px;
  visibility: hidden;
  -webkit-transition: width 1s ease-in-out;
  -moz-transform: scale(.5);
 }

 a{
  text-decoration:none;
 }
 h1 a{
  color:black;
 }
 body{
  background-color: #FFF;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 }
.sidebar{
  padding-bottom: 5px;
  padding-left: 4.5%;
  padding-top: 15px;
  height: 100%;
  h1,h2,h3{
    color: black;
  }
  margin-top: 30px;
}
.avatar{
  float:left;
  border-radius: 50%;
}
.title-content{
  float:left;
  margin-left: 4%;
}
.blog-content{
  padding: 4%;
  border-left: 1px solid gray;
}
.tag-text{
  display: inline;
  float: left;
}
.date{
  float:right;
}
@media(max-width: 530px){
  .avatar{
    display:none;
  }
  .extra-content{
    display:none;
  }
}