/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pure-image{
  border-radius: 24px;
}
a {
    text-decoration: none;
    color: rgb(142, 142, 214);
}
a:hover,
a:focus {
    text-decoration: underline;
}

/* LAYOUT CSS */
#layout {
    padding-left: 25%; /* "left col (nav + list)" width */
    position: relative;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 25%;
    margin-left: -25%;
    background: #FF5500;
    color: #fff;
}
.content-quote{
  font-family: "Georgia", serif;
  color: #666;
  line-height: 1.8em;
  border-left: 5px solid #ddd;
  padding-left: 1.5em;
}
.highlight{
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  background-color: #CCCCCC;
  padding: 1%;
  font-family: Georgia, "Cambria", serif;
  font-size: 1em;
  padding-left: 5%;
}
.header {
  position: absolute;
  bottom: 20px;
  margin: 0 2em 0;
  text-align: right;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
    a{
      text-decoration: none;
      color: #FFF;
    }
    
}
.brand-tagline {
    font-weight: 300;
    color: #FF9900;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 3px solid #FF9900;
    color: #fff;
    margin-top: 1em;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 3px solid #FF9900;
    color: #FFAA00;
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}
.content {
    padding: 2em 3em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
  a{
    font-size: 1.2em;
    color: #222;
    text-decoration: none;
  }  
  margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
.post-category-color {
    background: #FF9900;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}
.search-input{
  width: 220px;
  &:focus {
    border-color: #FF9900 !important;
  }
}
.search-bashly{
  color: #FF9900;
  &:hover {
    color: #FFBB00;
  }
}
.comment-form{
  border-top: 1px solid #aaa;
  margin-top: 15px;
}
.comment-show{
  border-top: 1px solid #aaa;
  .pure-avatar{
    float: left;
    margin-right: 10px;
    border-radius: 24px;
    margin-top: 15px;
  }

  .comment-contents{
    p{
      margin-top: -10px;
      margin-left: 58px;
    }
      a{
        text-decoration: none;
        color: #000
      }
  }
}
.twitter-signin{
  font-size: 0.7em;
  text-decoration: none;
  color: #000;
}
@media (max-width: 1020px) {
    .avatar{
      display: none;
    }
    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;
    }

    .header {
        text-align: center;
        top: auto;
        margin: 3em auto;
        position: static;
    }

    #layout {
        padding: 0;
    }
}